:root {
    --cash-color: rgb(133, 187, 101);
    --cash-footer: #52743e;
    --cash-darker: rgba(133, 187, 101, .3);
    --bg-light: white;
    --clr-icons: #929292;
    --clr-text: #fff;
    --clr-bg-dark: #242424;
    --clr-bg-light: #3b3b3b;
    --clr-accent: black;
}

body, html {
    background-color: var(--cash-color);
    font-family: sans-serif;
    color: var(--bg-light);
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 100;
}

body {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text);
    line-height: 1.5;
    transition:  175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    font-family: sans-serif;
}

nav{
    background-color: var(--bg-light);
    display: flex;
    justify-content: space-evenly;
}

a:link {
    color:var(--clr-bg-dark);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    text-decoration: none;
    color:var(--clr-bg-dark);
  }
  
  /* mouse over link */
  a:hover {
    text-decoration: none;
    color:var(--clr-bg-dark);
  }
  
  /* selected link */
  a:active {
    color:var(--clr-bg-dark);
    text-decoration: none;
  }

main {
    padding: 1.4em;
    background-color: var(--cash-color);
    color: var(--bg-light);
    display: block;
}

h1 {
    text-transform: capitalize;
}

footer {
    transition: 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    bottom: 0;
    font-size: 0.9rem;
    text-align: center;
    background-color: var(--cash-footer);
    position: fixed;
    height: 100px;
    width: 100%;
    left: 0;
}

header {
    transition:  175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    display: flex;
    align-items: center;
    background-color: var(--clr-text);
    color:var(--cash-color);
    padding: 2rem;
  }

  .main-grid {
    display: grid;
    position: relative;
  }

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    background: var(--cash-footer);
    color: var(--clr-text);
    font-size: 1.125rem;
    padding: 0.5em;
    position: relative;
    align-self: start;
    justify-self: start;
    max-width: 450px;
    margin-right: 1rem;
    transition:  175ms cubic-bezier(0.91, 0, 0.55, 1.64);
}

.btn:active{
    background-color: transparent;
    transition:  175ms cubic-bezier(0.91, 0, 0.55, 1.64);
}

.btn:hover{
    transition: 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    background-color: var(--cash-darker);
    border: 1px solid black;
}

@media (max-height:900px)
{
    body{
        transition:  175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    }
    footer{
        height: 25px;
    }

    header{
        padding: 0.5rem 2rem;
    }

    .btn{
        max-width: 175px;
    }
}

@media (max-width: 800px)
{
    body,html, h2{
        font-size: 18px;
        transition:  175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    }
    header, h1{
        font-size: 26px;
    }
    
    .btn{
        max-width: 175px;
    }
}