:root {
    --cash-color: rgb(133, 187, 101);
    --cash-footer: #52743e;
    --cash-darker: rgba(133, 187, 101, .3);
    --bg-light: white;
    --clr-icons: #929292;
    --clr-text: #fff;
    --clr-bg-dark: #242424;
    --clr-bg-light: #3b3b3b;
    --clr-accent: black;
}

::selection {
    background-color: var(--cash-darker);
    color: var(--clr-text);
}

body, html {
    background-color: var(--cash-color);
    font-family: sans-serif;
    color: var(--bg-light);
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 100;
}

body {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text);
    line-height: 1.5;
    transition: 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    font-family: sans-serif;
}

nav {
    background-color: var(--bg-light);
    display: flex;
    justify-content: space-evenly;
}

a:link {
    color: var(--clr-bg-dark);
    text-decoration: none;
}

/* visited link */

a:visited {
    text-decoration: none;
    color: var(--clr-bg-dark);
}

/* mouse over link */

a:hover {
    text-decoration: none;
    color: var(--clr-bg-dark);
}

/* selected link */

a:active {
    color: var(--clr-bg-dark);
    text-decoration: none;
}

main {
    padding: 1.4em;
    background-color: var(--cash-color);
    color: var(--bg-light);
    display: block;
}

h1, h2 {
    text-transform: capitalize;
}

footer {
    transition: 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    margin-top: 2rem;
    bottom: 0;
    font-size: 0.9rem;
    text-align: center;
    background-color: var(--cash-footer);
    position: fixed;
    height: 50px;
    width: 100%;
    left: 0;
}

header {
    transition: 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--clr-text);
    color: var(--cash-color);
    padding: 2rem;
}

#counter {
    right: 0;
}

.main-grid {
    display: grid;
    position: relative;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    background: var(--cash-footer);
    color: var(--clr-text);
    font-size: 1.125rem;
    padding: 0.5em;
    position: relative;
    align-self: start;
    justify-self: start;
    max-width: 450px;
    margin-right: 1rem;
    transition: 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
}

.btn:active {
    background-color: transparent;
    transition: 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
}

.btn:hover {
    transition: 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    background-color: var(--cash-darker);
    border: 1px solid black;
}

@media (max-height:900px) {
    body {
        transition: 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    }
    footer {
        height: 25px;
    }
    header {
        padding: 0.5rem 2rem;
    }
    .btn {
        max-width: 175px;
    }
}

@media (max-width: 800px) {
    body, html, h2 {
        font-size: 18px;
        transition: 175ms cubic-bezier(0.91, 0, 0.55, 1.64);
    }
    header, h1 {
        font-size: 26px;
    }
    .btn {
        max-width: 175px;
    }
}

/* The container */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    color: var(--clr-bg-dark);
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.accordion {
    display: flex;
    background-color: var(--cash-footer);
    color: var(--clr-text);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2rem;
    transition: ease-in-out 0.4s;
}

.active, .accordion:hover {
    background-color: var(--cash-darker);
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}